<!-- HTML Document Comes From Base -->
{% extends 'base.html' %}

    {% block head %}
    <title>Index</title>
    {% endblock %}

    {% block body %}

        <div class="container">
            <h1>Members</h1>
            {% for member in member_list %}
                <div class="card">
                    <div class="card-body">
                        {% if member.user.get_full_name %}
                            <h4 class="card-title">{{ member.user.get_full_name }}</h4>
                        {% else %}
                            <h4 class="card-title">{{ member.user }}</h4>
                        {% endif %}

                        {{ member.user.team_members.one }}

                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if member.role %}
                                {{ member.role }} &bull;
                            {% else %}
                                Member &bull;
                            {% endif %}

                            {% if member.user.team_members.first %}
                                {{ member.user.team_members.first }} &bull;
                            {% endif %}

                            {{ member.points }} Points
                        </h6>

                        <p class="card-text">fjeowifj</p>
                        <a href="#" class="card-link">View Detail</a>
                    </div>
                </div>
            {% empty %}
                <p>No events so far...</p>
            {% endfor %}
        </div>

    {% endblock %}