{% load group_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>List of Members</h1>
  <!--will only display users which have member details-->
    {% if members %}
        <table row="1">

        <tr>
            <td class="heading">First Name</td>
            <td class="heading">Last Name</td>
            <td class="heading">Major</td>
            <td class="heading">Net ID</td>
            {% if request.user|has_group:"test" %}<!--for officers-->
                <td class="heading">UserName</td>
            {% endif %}
        </tr>
        {% for m in members %}
            {% if m.user.is_active %}
            {% endif %}
            <tr>
            <td class="result">{{ m.user.first_name }}</td>
            <td class="result">{{ m.user.last_name }}</td>
            <td class="result">{{ m.major}}</td>
            <td class="result">{{ m.netid}}</td>
            {% if request.user|has_group:"test" %}<!--for officers-->
                <td class="result">{{ m.user.username}}</td>
            {% endif %}




            </tr>

        {% endfor %}
        </table>
    {% else %}
        <p>No Data Available</p>
    {% endif %}
</body>
</html>